a{color: #CFB532;text-decoration: none}
Body{margin-top: 0px}
#Enclose{
    margin: 0px;
    background-color: #262625;
    width: 1200px;
}
h2{color:#cfb53b}
#Menu {
    background: linear-gradient(to bottom, #5e1512, #262625);
    text-align: center;
    height: 50px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    color: #cfb53b;
}

.HalfBox {
    background-color: RGBa(94,21,18,0.5);
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    color: #c0c0c0;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#Portrait{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    float: left;
}
#ResumeDetail{
    color: #c0c0c0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background-color: RGBa(94,21,18,0.5);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 40px;
    overflow-y: scroll;
    float: right;
    max-height: 600px;
    margin-bottom: 15px;
}
#Footer {
    clear: both;
    background: linear-gradient(to top, #5e1512, #262625);
    text-align: center;
    color: #cfb53b;
    height: 50px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
